* {
	margin: 0;
	padding: 0;
}
body {
	font: 18px Verdana;
	color: #FFF;
	background: #CCC;
}
#picbox {
	margin: 0px auto;
	max-width: 1450px;
}
#boxcard {
	z-index: 1;
	margin: 10px 0 0;
}
#boxcard div{
	float: left;
	width: 150px;
	height: 100px;
	margin: 5px;
	padding: 5px;
	border: 4px solid #6a6;
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 0 1px 5px rgba(0,0,0,.5);
	background: #B1B1B1;
	text-align: center;
	z-index: 2;
    overflow: auto;
}
#boxcard div span {
	display: none;
	border-radius: 10px;
	z-index: 3;
}
#boxbuttons {
	text-align: center;
	margin: 20px;
	display: block;
}
#boxbuttons .button {
	text-transform: uppercase;
	background: #6a6;
	padding: 5px 10px;
	margin: 5px;
	border-radius: 10px;
	cursor: pointer;
}
#boxbuttons .button:hover {
	background: #999;
}

.button select {
  background-color: #6a6;
  color: #fff;
  border: none;
  font: 18px Verdana;
}

.correct{
	border-color: #9f9 !important;
}
